body{
  /* background-image: url('./source/background.png') */
  /* background-image: linear-gradient(#473253, #243e5f); */
  background-color: #252627;
 
}
a{
  text-decoration: none;
}

.left-menu{
  width: 50px;
  min-height: 100vh;
  background-color: #181818;
  flex-direction: column;
}
.left-menu_header{
  flex: 1;
  text-align: center;
  padding: 10px 0;
}
.left-menu_logo{
  color: #08fdd8;
  font-weight: bolder;
  font-size: 48px;
  text-shadow:2px 0px 3px #eee;
  transition: all .25 ease-out;
  margin: 0;
}
.left-menu_logo__desc{
  color: #fff;
  font-size: 12px;
}

.left-menu_content{
  flex: 2;
}
.left-menu_footer{
  flex: 1;
}
