body{
  /* background-image: url('./source/background.png') */
  background-image: linear-gradient(#473253, #243e5f);
  min-height: 100vh;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mountingContainer{
  width: 270px;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}
.lcElement{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
